.whatsapp-widget {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    transition: transform 0.2s;
}

.whatsapp-widget:hover {
    transform: scale(0.9);
}

#whatsapp-link img {
    width: 60px; /* размер иконки */
    height: 60px; /* размер иконки */
}
